/* example of reseting the default margins and paddings
* {
  margin: 0;
  padding: 0;
}
*/

body {
  background-color: #f4f4f4;
  color: #555555;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /*same as above but abbreviated*/
  font: normal 16px Arial, Helvetica, sans-serif;

  line-height: 1.6em;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

a:visited {
  
}

.container {
  width: 80%;
  margin: auto;
}

.button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.button:hover{
    background: red;
    color: white;

}

.clr{
    clear: both; /*after you float things you wanna clear things so we use clear*/
}

.box-1 {
  background-color: #333333;
  color: #ffffff;

  border-right: 5px red solid;
  border-left: 5px red solid;
  border-top: 5px red solid;
  border-bottom: 5px red solid;
  border-width: 3px;
  border-bottom-width: 10px;
  border-top-style: dotted;

  /*annotated version below for border- same as above*/
  border: 5px red solid;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;

  /*annotated version below for padding- same as above*/
  padding: 20px;

  margin-top: 20px;
  margin: 20px 20px;
}

.box-1 h1 {
  font-family: Tahoma;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.box-2 {
  border: 3px dotted #ccc;
  padding: 20px;
  margin: 20px;
}

.categories {
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
  margin: 20px;
}

.categories h2 {
  text-align: center;
}

.categories ul {
  padding: 0;
  padding-left: 20px;
  /*To add space for the bullets to be inside the border (theyre on the left by default)*/
  list-style: square;
  /* ^^^ example of a type of list style bullet- but we add an image instead so it doesnt show square*/
  list-style: none;
}

.categories li {
  padding-bottom: 6px;
  border-bottom: dotted 1px #333;
  list-style-image: url("../images/checkmark.png");
}

.my-form {
  padding: 20px;
  /*This adds an invisible layer around the whole form so that it can be spaced out correctly*/
}

.my-form .form-group {
  padding-bottom: 15px;
  /* this gives the individual labels/entryboxes space inbetween cause theyre super clumped up originally*/
}

.my-form label {
  display: block;
  /*this makes the labels on their own line in the form*/
}

.my-form input[type="text"],
.my-form textarea {
  /* using type = text disreguards the button in the form because even though its an input its not a type text*/
  padding: 8px;
  width: 100%;
}

.block{
    float: left;
    width: 33.3%; /*since there's 3 blocks we want them to be even*/
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; /*this makes it so that they all fit with border and padding included into the distribution of the page*/

}

#main-block{
    float: left;
    width: 70%;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative; /*every element in pbox will be relative*/
    background-image: url('../images/pastel.jpg');
    background-position: 100px 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

.p-box h1{
    position: absolute; /*even though its absolute the pbox parent is relative positioning so it overrides this*/
    top: 100px;
    left: 200px;

}

.p-box h2{
    position: absolute;

}

.fix-me{
    position: fixed;
    top: 400px;

}

.mylist li:first-child{
    background: red;

}

.mylist li:last-child{
    background: blue;

}

.mylist li:nth-child(5){
    background: yellow;
}

.mylist li:nth-child(even){
    background: grey;
}
